<!--<img class='arena' [style.opacity]="gui_options.background_opacity" loading="lazy" [attr.src]="'http://sales-demo.uroc.com/AztecRush/game-AztecRush/assets/images/basegameBG.webp?v=1.0.23'" alt="landscape"/>-->
<!--<img [style.opacity]="gui_options.background_opacity" loading="lazy" [attr.src]="'/arena-background-landscape-no-mist.png'" alt="landscape"/>-->
<img #sky_image class="sky" [style.opacity]="gui_options.background_opacity" loading="lazy" [attr.src]="'/sky.png'" alt="sky" />
<img class="landscape" [style.opacity]="gui_options.background_opacity" loading="lazy" [attr.src]="'/landscape.png'" alt="sky" />
<canvas #canvas_ref></canvas>
<img class="podium" [attr.src]="'/podium.png'" alt="podium" [style.opacity]="gui_options.background_opacity"/>
