:host {
  --sky-translate-x: -50%;
  --sky-perspective: 10000px;
  --sky-rotate-x: 0deg;
  --sky-rotate-y: 0deg;
}

img.arena {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  z-index: 0;
  position: fixed;
}

img.sky {
  position: fixed;
  top: -8%;
  left: 50%;
  //object-fit: contain;
  //width: 100%;
  min-width: 100%;
  z-index: 1;
  transform: translateX(var(--sky-translate-x)) perspective(var(--sky-perspective)) rotateX(var(--sky-rotate-x)) rotateY(var(--sky-rotate-y));
  transition: transform 0.3s ease;
  //transition: transform 1s ease;
}

img.landscape {
  width: 100%;
  object-fit: contain;
  position: fixed;
  z-index: 1;
  bottom: -22%;
}

img.podium {
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  object-fit: cover;
  width: 100vw;
  bottom: -50vh;
  transform: translateX(-50%);
  left: 50%;
  z-index: 2;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}




:host.no-images {
  img {
    opacity: 0 !important;
  }
}


form {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: white;
  font-family: sans-serif;
  background: rgb(158 158 158 / 60%);
  outline: 1px dashed white;
  outline-offset: -1px;
  padding: 1rem;
  position: relative;
  z-index: 10;

  input, select, [formcontrolname] {
    margin-bottom: 1rem;
  }
}
