img.sky {
  position: fixed;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

//img:first-of-type {
//  position: fixed;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  width: 100%;
//  height: 100%;
//  object-fit: cover;
//  z-index: -2;
//}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}


img.podium {
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  object-fit: cover;
  width: 100vw;
  bottom: -50vh;
  transform: translateX(-50%);
  left: 50%;
  z-index: 2;
}

:host.no-images {
  img {
    opacity: 0 !important;
  }
}


form {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: white;
  font-family: sans-serif;
  background: rgb(158 158 158 / 60%);
  outline: 1px dashed white;
  outline-offset: -1px;
  padding: 1rem;
  position: relative;
  z-index: 10;

  input, select, [formcontrolname] {
    margin-bottom: 1rem;
  }
}
